<html>
    <body>
        <center>
            <h1>The server operating system: {{ ansible_distribution }}</h1>
            <h1>The server HOSTNAME: {{ ansible_hostname }}</h1>
            <h1>The admin: {{ myusername }}</h1>
        </center>
    </body>
</html>
